<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeviceIOControlLib" publicKeyToken="194e86a1dcd77098" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.1.0" newVersion="0.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>